<footer th:fragment="full-footer" class="page-footer unique-color-dark pt-4">
    <div class="container">
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h1>Having trouble? We're here to help</h1>
                <p>We want you to move freely, make the most of your time, and be connected to the people and places that matter most to you. That’s why we are committed to safety, from the creation of new standards to the development of technology with the aim of reducing incidents</p>
                <a href="#" class="btn btn-outline-white btn-rounded">Contact Us</a>
            </li>
        </ul>
    </div>

    <div class="footer-copyright text-center py-3">
        © 2020 Copyright Uster Technologies Inc.
    </div>
</footer>